/* --== Author tag ==-- */
[user_by_bdfdb="137259132305539072"] .username-h_Y3Us::after {
  content: '';
  display: inline-block;
  -webkit-mask-image: url("https://commandcrafterhd.gitlab.io/bates-discord-theme/svg/pencil.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  background-color: var(--highlight);
  width: 5px !important;
  height: 5px !important;
  padding: 3px;
  margin-left: 5px;
}

[user_by_bdfdb="137259132305539072"] .nameAndDecorators-3ERwy2::after {
  content: '';
  display: inline-block;
  -webkit-mask-image: url("https://commandcrafterhd.gitlab.io/bates-discord-theme/svg/pencil.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  background-color: var(--highlight);
  width: 5px !important;
  height: 5px !important;
  padding: 3px;
  margin-left: 5px;
}

/* --== Quality control tag ==-- */

[user_by_bdfdb="360790467224403969"] .username-h_Y3Us::after {
  content: '';
  display: inline-block;
  -webkit-mask-image: url("https://commandcrafterhd.gitlab.io/bates-discord-theme/svg/magnifying_glass_icon.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  background-color: var(--highlight);
  width: 5px !important;
  height: 5px !important;
  padding: 3px;
  margin-left: 5px;
}

[user_by_bdfdb="360790467224403969"] .nameAndDecorators-3ERwy2::after {
  content: '';
  display: inline-block;
  -webkit-mask-image: url("https://commandcrafterhd.gitlab.io/bates-discord-theme/svg/magnifying_glass_icon.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  background-color: var(--highlight);
  width: 5px !important;
  height: 5px !important;
  padding: 3px;
  margin-left: 5px;
}

/* --== Secret Tag! :o ==-- */

[user_by_bdfdb="314436637465772033"] .username-h_Y3Us::after {
  content: '';
  display: inline-block;
  -webkit-mask-image: url("https://commandcrafterhd.gitlab.io/bates-discord-theme/svg/cat.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  background-color: var(--highlight);
  width: 5px !important;
  height: 5px !important;
  padding: 3px;
  margin-left: 5px;
}

[user_by_bdfdb="314436637465772033"] .nameAndDecorators-3ERwy2::after {
  content: '';
  display: inline-block;
  -webkit-mask-image: url("https://commandcrafterhd.gitlab.io/bates-discord-theme/svg/cat.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  background-color: var(--highlight);
  width: 5px !important;
  height: 5px !important;
  padding: 3px;
  margin-left: 5px;
}
